html, body {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
.sidebar{
  margin: 0;
  padding: 0;
  width: 200;
  background-color: rgb(240, 240, 240);
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a{
  display: block;
  color: inherit;
  padding: 16px;
  text-decoration: none;
}

sidebar a.active{
  background-color: rgb(186, 228, 229);
  color: black;
}

div.content{
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
h1{
  font-family: sans-serif;
  font-size: 50px;
  font-style: normal;
}
h2{
  font-family: sans-serif;
  font-size: 40px;
  font-style: normal;
}
a{
  font-family: sans-serif;
  font-size: 35px;
  font-style: normal;

  }
a:visited{
  background color: rgb(96, 223, 229);
  color: rgb(66, 9, 67);
  padding: 20px, 25px;
}
a:hover{
  background-color: black;
  color: red;
}
