html, body {
  margin: 0;
  padding: 0;
}
h1{
  font-family: sans-serif;
  font-size: 50px;
  font-style: normal;
}
a{
  font-size: 35px;
  font-family: sans-serif;
  background-color: white;
}
a:visited{
  background color: rgb(96, 223, 229);
  color: rgb(66, 9, 67);
  padding: 25px, 30px;
  display: inline-block;
}
a:hover{
  background-color: black;
  color: white;
}
